name: CI Pipeline

on:
  workflow_dispatch:   # allows manual trigger in GitHub Actions
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
      - name: Build JAR
        run: mvn clean package -DskipTests
      - name: Build Docker image
        run: docker build -t user-microservice .
      - name: Run Docker container
        run: docker run -d -p 8080:8080 user-microservice
